# Intermediate files
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
.*.lb

# Output files
*.dvi
*.ps
*.pdf

# Build system files
*.fdb_latexmk
*.synctex
*.synctex(busy)
*.synctex.gz
*.synctex.gz(busy)
*.pdfsync
latex.out/

# User-provided data (e.g. homework grid files)
*/data/*

# Symlink to class file
!hwgrid.cls

# Example usage file
!example.tex
